<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../../layout/css.ejs') %>
  <title>Books List</title>
</head>

<body>
  <header>
    <%- include('../../layout/menu.ejs') %>
  </header>

  <main>
    <h1>Search Results</h1>
    <section>
      <% books.forEach((book) => { %>
      <article class='book-results'>
        <img src="<%= book.image_url %>" alt="<%= book.title %>" onerror="this.src=`https://i.imgur.com/J5LVHEL.jpg`;">
        <h3><%= book.title %></h3>
        <h4><%= book.author %></h4>
        <form action="/books" method="POST">
          <button class='button' name='bookData' value="<%= book.author %>+++<%= book.title %>+++<%= book.isbn %>+++<%= book.image_url %>+++<%= book.description %>">
            Add to Bookshelf
          </button>
        </form>
      </article>
      <% }); %>
    </section>
  </main>

</body>

</html>